[submodule "embedded-backend"]
	path = embedded-backend
	url = https://github.com/PsyLabsWeb3/embedded-backend.git
[submodule "embedded-frontend"]
	path = embedded-frontend
	url = https://github.com/PsyLabsWeb3/embedded-frontend.git
[submodule "embedded-Unity"]
	path = embedded-Unity
	url = https://github.com/PsyLabsWeb3/embedded-Unity.git
