[submodule "backend"]
	path = backend
	url = https://github.com/PsyLabsWeb3/embedded-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/PsyLabsWeb3/embedded-frontend.git
[submodule "unity"]
	path = unity
	url = https://github.com/PsyLabsWeb3/embedded-Unity.git
